<app-error-page *ngIf="error"></app-error-page>
<app-spinner [dataLoaded]="listLoaded"></app-spinner>
<div class="content" *ngIf="!error && listLoaded">
  <div class="edit-wrapper">
    <h1>Terminarz</h1>
  </div>
  <div class="schedule-wrapper">
    <div class="date-wrapper">
      <span class="date-text">{{ displayedDate }}</span>
    </div>
    <div class="error-state" *ngIf="error">
      {{ error }}
    </div>
    <div class="schedule" *ngIf="listLoaded && trainings.length != 0">
      <div class="training-wrapper" *ngFor="let training of trainings">
        <div class="training-times">
          <span>{{ training.trainingDate.start }}</span>
          <div class="divider"></div>
          <span>{{ training.trainingDate.end }}</span>
        </div>
        <div
          class="training"
          [class.closest]="training === trainings[0]"
          (click)="goToTraining(training)"
        >
          <div class="training-info-wrapper">
            <p class="client">{{ training.name }} {{ training.surname }}</p>
            <span class="secondary-info">{{ training.trainingName }}</span>
            <span class="secondary-info">{{ training.location }}</span>
          </div>
          <div class="training-cycled" *ngIf="training.cycled">
            <mat-icon>autorenew</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
