<div class="error-message-box" *ngIf="!!error">
  <span class="error-text">Wystąpił błąd podczas rejestracji</span>
</div>
<div class="title-wrapper">
  <h1 class="title">Witaj w</h1>
  <img src="../../../../../assets/logo (2).svg" alt="Logo" class="logo" />
</div>
<div class="subtitle-wrapper">
  <span class="subtitle"
    >Wspólny cel, jedna aplikacja - Twój klucz do sukcesu treningowego</span
  >
</div>
<form class="input-wrapper" [formGroup]="registerForm">
  <label for="name">Imię <span class="asterisk">*</span></label>
  <div
    class="input-group"
    [ngClass]="{ 'validation-error': f['name'].errors && isSubmitted }"
  >
    <input
      class="input"
      type="name"
      placeholder="np. Jan"
      formControlName="name"
    />
    <span
      class="error-info"
      *ngIf="f['name'].errors && f['name'].errors['required']"
      >Imię jest wymagane</span
    >
  </div>
  <label for="surname">Nazwisko<span class="asterisk">*</span></label>
  <div
    class="input-group"
    [ngClass]="{ 'validation-error': f['surname'].errors && isSubmitted }"
  >
    <input
      class="input"
      type="surname"
      placeholder="np. Nowak"
      formControlName="surname"
    />
    <span
      class="error-info"
      *ngIf="f['surname'].errors && f['surname'].errors['required']"
      >Nazwisko jest wymagane</span
    >
  </div>
  <label for="email">Email<span class="asterisk">*</span></label>
  <div
    class="input-group"
    [ngClass]="{ 'validation-error': f['email'].errors && isSubmitted }"
  >
    <input
      class="input"
      type="email"
      placeholder="np. jan.nowak@email.com"
      formControlName="email"
    />
    <span
      class="error-info"
      *ngIf="f['email'].errors && f['email'].errors['required']"
      >Email jest wymagany</span
    >
    <span
      class="error-info"
      *ngIf="f['email'].errors && f['email'].errors['email']"
      >Email jest nieprawidłowy</span
    >
  </div>
  <label for="password">Hasło<span class="asterisk">*</span></label>
  <div
    class="input-group"
    [ngClass]="{ 'validation-error': f['password'].errors && isSubmitted }"
  >
    <input
      class="input"
      type="password"
      placeholder="np. min. 8 znaków i co najmniej 1 znak specjalny"
      formControlName="password"
    />
    <span
      class="error-info"
      *ngIf="f['password'].errors && f['password'].errors['required']"
      >Hasło jest wymagane</span
    >
    <span
      class="error-info"
      *ngIf="f['password'].errors && f['password'].errors['minlength']"
      >Hasło musi mieć minimum 8 znaków</span
    >
    <span
      class="error-info"
      *ngIf="f['password'].errors && f['password'].errors['pattern']"
      >Hasło musi mieć co najmniej 1 znak specjalny i jedną dużą literę</span
    >
  </div>
  <label for="password">Powtórz hasło<span class="asterisk">*</span></label>
  <div
    class="input-group"
    [ngClass]="{
      'validation-error': f['confirmPassword'].errors && isSubmitted
    }"
  >
    <input class="input" type="password" formControlName="confirmPassword" />
    <span
      class="error-info"
      *ngIf="
        f['confirmPassword'].errors && f['confirmPassword'].errors['required']
      "
      >Powtórzenie hasła jest wymagane</span
    >
    <span
      class="error-info"
      *ngIf="
        f['confirmPassword'].errors && f['confirmPassword'].errors['matching']
      "
      >Hasła nie są takie same</span
    >
  </div>
  <!-- <label>Typ profilu<span class="asterisk">*</span></label>
  <div class="type-group">
    <input
      type="radio"
      class="type-input"
      id="trainer"
      name="type"
      value="trainer"
      formControlName="profileType"
    />
    <label for="trainer" class="type-label">
      <h2 class="type-header">Trener</h2>
      <p class="type-description">lorem lorem lorem lorem lorem</p>
    </label>
    <input
      type="radio"
      class="type-input"
      id="client"
      name="type"
      value="client"
      formControlName="profileType"
    />
    <label for="client" class="type-label">
      <h2 class="type-header">Użytkownik</h2>
      <p class="type-description">lorem lorem lorem lorem lorem</p>
    </label>
  </div> -->
  <label for="phone">Telefon</label>
  <input
    class="input"
    id="phone"
    type="text"
    placeholder="np. 594 490 240"
    formControlName="phone"
    mask="000 000 000"
  />
  <label for="city">Miasto</label>
  <input
    class="input"
    type="city"
    placeholder="np. Warszawa"
    formControlName="city"
  />
  <label>Płeć</label>
  <div class="radio-group">
    <div class="custom-radio">
      <input
        id="female"
        type="radio"
        class="custom-radio-input"
        value="female"
        name="gender"
        formControlName="gender"
      />
      <label for="female" class="custom-radio-label">Kobieta</label>
    </div>
    <div class="custom-radio">
      <input
        id="male"
        type="radio"
        class="custom-radio-input"
        value="male"
        name="gender"
        formControlName="gender"
      />
      <label for="male" class="custom-radio-label">Mężczyzna</label>
    </div>
    <div class="custom-radio">
      <input
        id="other"
        type="radio"
        class="custom-radio-input"
        value="other"
        name="gender"
        formControlName="gender"
      />
      <label for="other" class="custom-radio-label">Inne</label>
    </div>
  </div>

  <button class="primary" (click)="register()">
    <span *ngIf="!isLoading">Zarejestruj się</span>
    <div class="small-spinner" *ngIf="isLoading">
      <app-spinner-small [dataLoaded]="!isLoading"></app-spinner-small>
    </div>
  </button>
  <a class="link" [routerLink]="['/login']">Powrót do logowania</a>
</form>
