.edit-icon {
  width: 24px;
}
.edit-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picture {
  width: 120px;
  border-radius: 50%;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: fit-content;
}
.tag-wrapper {
  display: flex;
  margin-top: 16px;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.tag {
  background-color: var(--primaryColor);
  padding: 8px 16px;
  border-radius: 25px;
  color: var(--white);
  font-size: 14px;
}
.description {
  background-color: var(--primaryLightTint);
  padding: 16px 28px;
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
}
.header {
  border-bottom: 1px solid var(--black);
  padding-bottom: 8px;
  margin: 20px 0 14px 0;
}
.list {
  list-style-position: inside;
}
.localization::marker {
  color: var(--accent);
  font-size: 20px;
}
.list-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image {
  width: 24px;
  margin-right: 10px;
  filter: invert(47%) sepia(75%) saturate(1209%) hue-rotate(205deg)
    brightness(101%) contrast(105%);
}
.list-info > div {
  display: flex;
  align-items: center;
}
