<div class="edit-wrapper">
  <h1 class="title">Profil</h1>
  <img
    src="../../../assets/edit.svg"
    alt="Edit"
    class="edit-icon"
    (click)="goToEdit()"
  />
</div>
<div class="profile-wrapper">
  <div class="profile">
    <img [src]="user?.photoUrl" alt="profile picture" class="picture" />
  </div>
  <h2 class="name">{{ user?.name }} {{ user?.surname }}</h2>
  <span class="title">Trener personalny</span>
  <div class="tag-wrapper">
    <div class="tag" *ngFor="let tag of user?.tags">
      <span>{{ tag.name }}</span>
    </div>
  </div>
  <div class="description">
    <span>{{ user?.description }}</span>
  </div>
</div>
<div class="information-wrapper">
  <div class="header">
    <span>Lokalizacje</span>
  </div>
  <div class="localizations">
    <ul class="list">
      <li class="localization" *ngFor="let place of user?.localizations">
        {{ place.name }}
      </li>
    </ul>
  </div>
  <div class="header">
    <span>Informacje</span>
  </div>
  <div class="informations">
    <div class="list-info">
      <div class="phone">
        <img class="image" src="../../../assets/phone.svg" /><span
          class="info"
          >{{ user?.phone }}</span
        >
      </div>
      <div class="email">
        <img class="image" src="../../../assets/email.svg" /><span
          class="info"
          >{{ user?.email }}</span
        >
      </div>
      <div class="city">
        <img class="image" src="../../../assets/localization.svg" /><span
          class="info"
          >{{ user?.city }}</span
        >
      </div>
      <div class="gender">
        <img class="image" src="../../../assets/heart.svg" /><span
          class="info"
          >{{ user?.gender }}</span
        >
      </div>
    </div>
  </div>
</div>
