<app-spinner [dataLoaded]="dataLoaded"></app-spinner>
<div class="content" *ngIf="dataLoaded">
  <div class="edit-wrapper">
    <h1 class="title">Profil</h1>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Button for a profile menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="goToEdit()">
        <mat-icon>edit</mat-icon>
        <span>Edytuj</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Wyloguj</span>
      </button>
    </mat-menu>
  </div>
  <div class="profile-wrapper">
    <div class="profile">
      <img [src]="user.photoB64" alt="profile picture" class="picture" />
    </div>
    <h2 class="name">{{ user.name }} {{ user.surname }}</h2>
    <span class="title">Trener personalny</span>
    <div class="tag-wrapper">
      <div class="tag-added" *ngIf="user.tags.length != 0">
        <div class="tag" *ngFor="let tag of user?.tags">
          <span>{{ tag }}</span>
        </div>
      </div>
      <div class="tag-none" *ngIf="user.tags.length == 0">
        <span class="tag-add">Brak tagów</span>
      </div>
    </div>
    <div class="description">
      <span *ngIf="user.description">{{ user.description }}</span>
      <span *ngIf="!user.description">Krótki opis o sobie...</span>
    </div>
  </div>
  <div class="information-wrapper">
    <div class="header">
      <span>Lokalizacje</span>
    </div>
    <div class="localizations">
      <ul class="list" *ngIf="user.locations">
        <li class="localization" *ngFor="let place of user.locations">
          {{ place }}
        </li>
      </ul>
      <div class="no-localizations" *ngIf="user.locations.length == 0">
        <span class="no-localization--text"
          >Nie masz jeszcze dodanych lokalizacji. Są one potrzebne do dodania
          traningu. </span
        ><a class="no-licalization--link" (click)="goToEdit()">Dodaj tutaj</a>
      </div>
    </div>
    <div class="header">
      <span>Informacje</span>
    </div>
    <div class="informations">
      <div class="list-info">
        <div class="email">
          <img class="image" src="../../../assets/email.svg" /><span
            class="info"
            >{{ user.email }}</span
          >
        </div>
        <div class="phone">
          <img class="image" src="../../../assets/phone.svg" /><span
            *ngIf="user.phone"
            class="info"
            >{{ user.phone | mask : "000 000 000" }}</span
          >
          <span *ngIf="!user.phone" class="info">Brak danych</span>
        </div>

        <div class="city">
          <img class="image" src="../../../assets/localization.svg" /><span
            class="info"
            >{{ user.city }}</span
          >
          <span *ngIf="!user.city" class="info">Brak danych</span>
        </div>
        <div class="gender">
          <img class="image" src="../../../assets/heart.svg" /><span
            class="info"
            *ngIf="!!user.gender"
            >{{ user.gender | translate }}</span
          >
          <span *ngIf="!user.gender" class="info">Brak danych</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-error" *ngIf="!dataLoaded"></div>
