<div class="edit-wrapper">
  <img src="../../../assets/edit.svg" alt="Edit" class="edit-icon" />
</div>
<div class="profile-wrapper">
  <div class="profile">
    <img
      src="../../../assets/person.jpg"
      alt="profile picture"
      class="picture"
    />
  </div>
  <h2 class="name">Andrzej Anonimowy</h2>
  <span class="title">Trener personalny</span>
  <div class="tag-wrapper">
    <div class="tag">
      <span>Trening siłowy</span>
    </div>
    <div class="tag">
      <span>Urazy</span>
    </div>
    <div class="tag">
      <span>Kondycja</span>
    </div>
    <div class="tag">
      <span>Kondycja</span>
    </div>
  </div>
  <div class="description">
    <span
      >Krótki opis dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</span
    >
  </div>
</div>
<div class="information-wrapper">
  <div class="header">
    <span>Lokalizacje</span>
  </div>
  <div class="localizations">
    <ul class="list">
      <li class="localization">Smart Gym Politechnika</li>
      <li class="localization">Smart Gym Kolberga</li>
      <li class="localization">Cityfit Gliwice</li>
    </ul>
  </div>
  <div class="header">
    <span>Informacje</span>
  </div>
  <div class="informations">
    <div class="list-info">
      <div class="phone">
        <img class="image" src="../../../assets/phone.svg" /><span class="info"
          >+48 505 922 556</span
        >
      </div>
      <div class="email">
        <img class="image" src="../../../assets/email.svg" /><span class="info"
          >andrzej.anonimowy@gmail.com</span
        >
      </div>
      <div class="city">
        <img class="image" src="../../../assets/localization.svg" /><span
          class="info"
          >Gliwice</span
        >
      </div>
      <div class="gender">
        <img class="image" src="../../../assets/heart.svg" /><span class="info"
          >Mężczyzna</span
        >
      </div>
    </div>
  </div>
</div>
