<div class="edit-wrapper">
  <h1 class="title" *ngIf="clientId">Edycja klienta</h1>
  <h1 class="title" *ngIf="!clientId">Dodawanie klienta</h1>
  <mat-icon [routerLink]="['/clients', clientId]">close</mat-icon>
</div>
<form class="input-wrapper" [formGroup]="userForm">
  <div class="profile-wrapper">
    <div class="profile">
      <img
        [src]="userData?.photo"
        alt="profile picture"
        class="picture"
        *ngIf="userData.photo"
      />
      <img
        src="../../../assets/default-user.jpg"
        alt="profile picture"
        class="picture"
        *ngIf="!userData.photo"
      />
    </div>

    <label for="avatar-input-file">
      <div class="icon-wrapper">
        <input
          type="file"
          id="avatar-input-file"
          accept="image/*"
          formControlName="photo"
          (change)="onFileChange($event)"
        />
        <mat-icon class="edit">edit</mat-icon>
      </div>
    </label>
  </div>

  <label for="name">Imię <span class="asterisk">*</span></label>
  <div
    class="input-group"
    [ngClass]="{ 'validation-error': f['name'].errors && isSubmitted }"
  >
    <input
      class="input"
      type="name"
      id="name"
      placeholder="np. Jan"
      formControlName="name"
    />
    <span
      class="error-info"
      *ngIf="f['name'].errors && f['name'].errors['required']"
      >Imię jest wymagane</span
    >
  </div>
  <label for="surname">Nazwisko<span class="asterisk">*</span></label>
  <div
    class="input-group"
    [ngClass]="{ 'validation-error': f['surname'].errors && isSubmitted }"
  >
    <input
      class="input"
      type="surname"
      id="surname"
      placeholder="np. Nowak"
      formControlName="surname"
    />
    <span
      class="error-info"
      *ngIf="f['surname'].errors && f['surname'].errors['required']"
      >Nazwisko jest wymagane</span
    >
  </div>
  <label for="description">Krótki opis</label>
  <textarea
    class="input wide"
    id="description"
    placeholder="np. Krótki opis o mnie"
    rows="5"
    formControlName="description"
  ></textarea>
  <label for="phone">Telefon</label>
  <input
    class="input"
    type="phone"
    id="phone"
    placeholder="np. 594 490 240"
    formControlName="phone"
    mask="000 000 000"
  />
  <label for="city">Miasto</label>
  <input
    class="input"
    type="city"
    id="city"
    placeholder="np. Warszawa"
    formControlName="city"
  />
  <label>Płeć</label>
  <div class="radio-group">
    <div class="custom-radio">
      <input
        id="female"
        type="radio"
        class="custom-radio-input"
        value="female"
        name="gender"
        formControlName="gender"
      />
      <label for="female" class="custom-radio-label">Kobieta</label>
    </div>
    <div class="custom-radio">
      <input
        id="male"
        type="radio"
        class="custom-radio-input"
        value="male"
        name="gender"
        formControlName="gender"
      />
      <label for="male" class="custom-radio-label">Mężczyzna</label>
    </div>
    <div class="custom-radio">
      <input
        id="other"
        type="radio"
        class="custom-radio-input"
        value="other"
        name="gender"
        formControlName="gender"
      />
      <label for="other" class="custom-radio-label">Inne</label>
    </div>
  </div>

  <button class="primary" type="submit" (click)="onSubmitUser()">Zapisz</button>
  <a class="link" [routerLink]="['/clients', clientId]">Anuluj</a>
</form>
