<div class="wrapper">
  <router-outlet></router-outlet>
</div>
<div class="menu">
  <div class="menu-item">
    <img src="../assets/home.svg" alt="Home" class="icon" />
    <span class="icon-text">Home</span>
  </div>
  <div class="menu-item">
    <img src="../assets/schedule.svg" alt="Schedule" class="icon" />
    <span class="icon-text">Schedule</span>
  </div>
  <div class="menu-item">
    <img src="../assets/list.svg" alt="List" class="icon" />
    <span class="icon-text">List</span>
  </div>
  <div class="menu-item">
    <img src="../assets/profile.svg" alt="Profile" class="icon" />
    <span class="icon-text">Profile</span>
  </div>
</div>
