<app-spinner [dataLoaded]="dataLoaded"></app-spinner>
<div class="content" *ngIf="!error && dataLoaded">
  <div class="title-wrapper">
    <h1 class="title">
      Cześć, <br />
      {{ homeData?.name }} <br />
    </h1>
    <div class="profile">
      <img
        [src]="homeData.photoB64"
        alt="profile picture"
        class="picture"
        (click)="navigateToProfile()"
      />
    </div>
  </div>
  <div class="calendar-wrapper">
    <div
      class="calendar-tile"
      *ngFor="let date of dates"
      [class.selected]="date.format('D') === selectedDate.format('D')"
      (click)="onSelectDate(date)"
    >
      <div class="date">{{ date.format("dd") }}</div>
      <div class="date">{{ date.format("D") }}</div>
    </div>
  </div>
  <div class="schedule-wrapper">
    <div class="date-wrapper">
      <span class="date-text">{{ displayedDate }}</span>
    </div>
    <app-spinner [dataLoaded]="trainingLoaded"></app-spinner>
    <div class="schedule" *ngIf="trainingLoaded && trainings.length != 0">
      <div
        class="training-wrapper"
        *ngFor="let training of getDisplayedTrainings()"
      >
        <div class="training-times">
          <span>{{ training.trainingDate.start }}</span>
          <div class="divider"></div>
          <span>{{ training.trainingDate.end }}</span>
        </div>
        <div class="training" [class.closest]="training === trainings[0]">
          <p class="client">{{ training.name }} {{ training.surname }}</p>
          <span class="secondary-info">{{ training.trainingName }}</span>
          <span class="secondary-info">{{ training.location }}</span>
        </div>
      </div>
    </div>
    <div class="empty-state" *ngIf="trainingLoaded && trainings.length == 0">
      <img
        src="../../../assets/not-found.png"
        alt="Nie znaleziono"
        class="empty-picture"
      />
    </div>
  </div>
  <div class="load-more-wrapper">
    <div
      class="load-more"
      *ngIf="this.numberOfTrainingsToDisplay < this.trainings.length"
    >
      <span class="load-more-text" (click)="loadMore()"> Więcej </span>
    </div>
  </div>
  <button
    mat-fab
    aria-label="Guzik dodawania treningu"
    class="button-add"
    (click)="navigateToAddTraining()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="content-error" *ngIf="error && dataLoaded"></div>
