<div class="edit-wrapper">
  <h1 class="title">Dodawanie treningu</h1>
  <img
    src="../../../assets/x.svg"
    alt="Edit"
    class="edit-icon"
    (click)="goBack()"
  />
</div>
<form class="input-wrapper" [formGroup]="trainingForm">
  <label for="name">Nazwa treningu <span class="asterisk">*</span></label>
  <input
    class="input"
    type="name"
    id="name"
    placeholder="np. Trening siłowy"
    formControlName="name"
  />
  <div class="date-time-wrapper">
    <div class="date-container">
      <label for="date">Data<span class="asterisk">*</span></label>
      <div class="container small">
        <img
          src="../../../../assets/calendar.svg"
          alt="Calendar"
          class="icon"
        />
        <input
          id="date"
          [matDatepicker]="picker"
          class="date-input"
          (click)="picker.open()"
        />
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <div class="time-container">
      <div class="time">
        <label for="fromTime">Godzina od<span class="asterisk">*</span></label>
        <div class="container">
          <img src="../../../../assets/time.svg" alt="Time" class="icon" />
          <input
            id="fromTime"
            [ngxTimepicker]="fromTime"
            [format]="24"
            readonly
            class="date-input"
          />
          <ngx-material-timepicker
            #fromTime
            [theme]="theme"
          ></ngx-material-timepicker>
        </div>
      </div>
      <div class="time">
        <label for="toTime">Godzina od<span class="asterisk">*</span></label>
        <div class="container">
          <img src="../../../../assets/time.svg" alt="Time" class="icon" />
          <input
            id="toTime"
            [ngxTimepicker]="toTime"
            [format]="24"
            readonly
            class="date-input"
          />
          <ngx-material-timepicker
            #toTime
            [theme]="theme"
          ></ngx-material-timepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="select-container">
    <label for="clients"
      >Z którym klientem<span class="asterisk">*</span></label
    >
    <select name="clients" id="clients" class="select">
      <option value="1">Piotrek</option>
      <option value="2">Ania</option>
      <option value="3">Sebastian</option>
    </select>
  </div>
  <label for="details">Szczegóły treningu</label>
  <textarea
    class="input wide"
    id="details"
    placeholder="np. Dłuższy trening skupiony na rozciąganiu"
    rows="5"
    formControlName="details"
  ></textarea>

  <label for="localization">Lokalizacja</label>
  <input
    class="input"
    type="localization"
    id="localization"
    placeholder="np. CityFit Gliwice "
    formControlName="localization"
  />

  <button
    class="primary"
    type="submit"
    [disabled]="!trainingForm.valid"
    (click)="onSubmitTraining()"
  >
    Zapisz
  </button>
  <a class="link" [routerLink]="['/clients', clientId]">Anuluj</a>
</form>
