<div class="logo-wrapper">
  <img src="../../../../../assets/logo (2).svg" alt="Logo" class="logo" />
</div>
<div class="title-wrapper">
  <h1 class="title">Witaj spowrotem</h1>
  <span class="subtitle"
    >Wspólny cel, jedna aplikacja - Twój klucz do sukcesu treningowego</span
  >
</div>
<form class="input-wrapper">
  <label for="email">Email</label>
  <input class="input" type="email" />
  <label for="password">Hasło</label>
  <input class="input" type="password" />
  <a class="link">Zapomniałem hasła</a>
  <button class="primary">Zaloguj się</button>
</form>
<div class="no-account-wrapper">
  <span>Nie masz konta?</span>
  <a class="link">Zarejestruj się</a>
</div>
