<div class="error-message-box" *ngIf="!!error">
  <span class="error-text">Niepoprawne dane</span>
</div>
<div class="success-message-box" *ngIf="!!infoMessage">
  <span class="success-text">{{ infoMessage }}</span>
</div>
<div class="logo-wrapper">
  <img src="../../../../../assets/logo (2).svg" alt="Logo" class="logo" />
</div>
<div class="title-wrapper">
  <h1 class="title">Witaj z powrotem</h1>
  <span class="subtitle"
    >Wspólny cel, jedna aplikacja - Twój klucz do sukcesu treningowego</span
  >
</div>
<form class="input-wrapper" [formGroup]="loginForm">
  <label for="username">Email</label>
  <div
    class="input-group"
    [ngClass]="{ 'validation-error': f['username'].errors && isSubmitted }"
  >
    <input
      class="input"
      type="email"
      autocomplete="true"
      id="username"
      formControlName="username"
      aria-required="true"
    />
    <span
      class="error-info"
      *ngIf="f['username'].errors && f['username'].errors['required']"
      >Email jest wymagany</span
    >
    <span
      class="error-info"
      *ngIf="f['username'].errors && f['username'].errors['username']"
      >Email jest nieprawidłowy</span
    >
  </div>

  <label for="password">Hasło</label>
  <div
    class="input-group"
    [ngClass]="{ 'validation-error': f['password'].errors && isSubmitted }"
  >
    <input
      class="input"
      type="password"
      id="password"
      formControlName="password"
      aria-required="true"
    />
    <span
      class="error-info"
      *ngIf="f['password'].errors && f['password'].errors['required']"
      >Hasło jest wymagane</span
    >
  </div>
  <a class="link" [routerLink]="['/reset-password']">Zapomniałem hasła</a>
  <button class="primary" (click)="login()">
    <span *ngIf="!isLoading">Dodaj trening</span>
    <div class="small-spinner" *ngIf="isLoading">
      <app-spinner-small [dataLoaded]="!isLoading"></app-spinner-small>
    </div>
  </button>
</form>

<span class="register-text">Nie masz konta?</span>
<a class="register" [routerLink]="['/register']">Zarejestruj się</a>
