<div class="edit-wrapper">
  <h1 class="title">Edycja profilu</h1>
  <img src="../../../assets/x.svg" alt="Edit" class="edit-icon" />
</div>
<div class="profile-wrapper">
  <div class="profile">
    <img
      src="../../../assets/person.jpg"
      alt="profile picture"
      class="picture"
    />
  </div>
  <label for="avatar-input-file">
    <div class="icon-wrapper">
      <input type="file" id="avatar-input-file" accept="image/*" />
      <img class="icon" src="../../../assets/edit.svg" />
    </div>
  </label>
</div>
<form class="input-wrapper">
  <label for="name">Imię <span class="asterisk">*</span></label>
  <input class="input" type="name" placeholder="np. Jan" />
  <label for="surname">Nazwisko<span class="asterisk">*</span></label>
  <input class="input" type="surname" placeholder="np. Nowak" />
  <label for="description">Krótki opis</label>
  <textarea
    class="input wide"
    placeholder="np. Krótki opis o mnie"
    rows="5"
  ></textarea>
  <label for="phone">Telefon</label>
  <input class="input" type="phone" placeholder="np. 594 490 240" />
  <label for="city">Miasto</label>
  <input class="input" type="city" placeholder="np. Warszawa" />
  <label>Płeć</label>
  <div class="radio-group">
    <div class="custom-radio">
      <input
        id="female"
        type="radio"
        class="custom-radio-input"
        value="female"
        name="gender"
      />
      <label for="female" class="custom-radio-label">Kobieta</label>
    </div>
    <div class="custom-radio">
      <input
        id="male"
        type="radio"
        class="custom-radio-input"
        value="male"
        name="gender"
      />
      <label for="male" class="custom-radio-label">Mężczyzna</label>
    </div>
    <div class="custom-radio">
      <input
        id="other"
        type="radio"
        class="custom-radio-input"
        value="other"
        name="gender"
      />
      <label for="other" class="custom-radio-label">Inne</label>
    </div>
  </div>
  <div class="tags">
    <div class="date-wrapper">
      <span class="date-text">Tagi</span>
      <div class="add-button">
        <img
          src="../../../../../assets/x_small.svg"
          alt="X"
          class="add-button-icon"
        />
      </div>
    </div>
    <div class="tag-wrapper">
      <div class="tag">
        <span>Trening siłowy</span>
        <div class="delete">
          <img src="../../../../../assets/x_small.svg" alt="X" class="x" />
        </div>
      </div>
      <div class="tag">
        <span>Urazy</span>
        <div class="delete">
          <img src="../../../../../assets/x_small.svg" alt="X" class="x" />
        </div>
      </div>
      <div class="tag">
        <span>Kondycja</span>
        <div class="delete">
          <img src="../../../../../assets/x_small.svg" alt="X" class="x" />
        </div>
      </div>
      <div class="tag">
        <span>Kondycja</span>
        <div class="delete">
          <img src="../../../../../assets/x_small.svg" alt="X" class="x" />
        </div>
      </div>
    </div>
  </div>
  <div class="localizations">
    <div class="date-wrapper">
      <span class="date-text">Lokalizacje</span>
      <div class="add-button">
        <img
          src="../../../../../assets/x_small.svg"
          alt="X"
          class="add-button-icon"
        />
      </div>
    </div>
    <div class="localization-container">
      <span class="text">Smart Gym Politechnika</span>
      <img src="../../../../../assets/x_small.svg" alt="X" class="x_big" />
    </div>
    <div class="localization-container">
      <span class="text">Smart Gym Kolberga</span>
      <img src="../../../../../assets/x_small.svg" alt="X" class="x_big" />
    </div>
    <div class="localization-container">
      <span class="text">Cityfit Gliwice</span>
      <img src="../../../../../assets/x_small.svg" alt="X" class="x_big" />
    </div>
  </div>

  <button class="primary">Zapisz</button>
  <a class="link">Anuluj</a>
</form>
