@import "./_variables";
@mixin rectangle {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}
@mixin button-primary {
  @include rectangle;
  cursor: pointer;
  background-color: var(--primaryColor);
  color: var(--white);
  &:disabled {
    background-color: rgb(158, 158, 158);
    color: rgb(231, 231, 231);
  }
}
@mixin button-secondary {
  @include rectangle;
  cursor: pointer;
  background-color: var(--white);
  color: var(--primaryColor);
}
@mixin button-spacer {
  gap: 16px;
}
@mixin input {
  @include rectangle;
  border: 1px solid var(--black);
}
@mixin input-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@mixin button-primary-small {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: var(--primaryColor);
  color: var(--white);
  width: 112px;
  &:disabled {
    background-color: rgb(158, 158, 158);
    color: rgb(231, 231, 231);
  }
}
@mixin table-header {
  border-bottom: 1px solid var(--black);
  padding-bottom: 8px;
  margin: 20px 0 14px 0;
}
