:root {
  --primaryColor: #e11d48;
  --primaryTint: #ffced9;
  --primaryLightTint: rgb(255, 206, 217, 0.36);
  --accent: #6c8eff;
  --black: #323232;
  --lightBlack: #8d8d8d;
  --white: #ffffff;
  --error: rgb(223, 0, 0);
}
