/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import "./variables";
@import "./theme";
@import "./mixins";
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Alata", sans-serif;
}

html {
  color: var(--black);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
a {
  color: var(--primaryColor);
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.error-info {
  display: none;
}

.validation-error {
  input {
    border: 1px solid var(--error) !important;
  }
  .error-info {
    display: block;
    color: var(--error);
    font-size: 14px;
    margin-left: 12px;
  }
}

.error-message-box {
  @include message-box;
  background-color: var(--error);
  color: white;
}

.success-message-box {
  @include message-box;
  background-color: var(--success);
  color: white;
}
