<div class="logo-wrapper">
  <img src="../../../../../assets/logo (2).svg" alt="Logo" class="logo" />
</div>
<div class="title-wrapper">
  <h1 class="title">Zapomniałeś hasła?</h1>
  <span class="subtitle">Wpisz adres email, którego użyłeś do rejestracji</span>
</div>
<form class="input-wrapper" [formGroup]="resetForm">
  <label for="email">Email</label>
  <div
    class="input-group"
    [ngClass]="{ 'validation-error': f['email'].errors && isSubmitted }"
  >
    <input
      class="input"
      type="email"
      formControlName="email"
      aria-required="true"
    />
    <span
      class="error-info"
      *ngIf="f['email'].errors && f['email'].errors['required']"
      >Email jest wymagany</span
    >
    <span
      class="error-info"
      *ngIf="f['email'].errors && f['email'].errors['email']"
      >Email jest nieprawidłowy</span
    >
  </div>
  <button class="primary" (click)="resetPassword()">Zresetuj hasło</button>

  <a class="link" [routerLink]="['/login']">Powrót do logowania</a>
</form>
