@import "../../../../../mixins";
.logo-wrapper {
  width: fit-content;
  margin: 0 auto 0 auto;
}
.logo {
  width: 90px;
  margin-top: 32px;
  margin-bottom: 40px;
}
.title-wrapper {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

.input-wrapper {
  @include input-group;
}
.input {
  @include input;
}
.primary {
  @include button-primary;
  margin-top: 40px;
}
.link {
  margin: auto;
}
